.time-form
  margin-left 1em

  select
    align-self flex-end

.time-form-inputs
  display flex
  flex-direction row
  justify-content space-around
  width 12%

.form-fieldset
  border: none

@media (max-width : 1025px)
  .time-form-inputs
    width 100%