.wrapper
  display flex
  flex-direction column
  justify-content flex-start
  height 100vh
  width 100vw
  background-color white
  color black
  font-family 'Share Tech Mono', monospace

  button
    border none
    border-radius 1em
    background-color black
    color white
    font-family 'Share Tech Mono', monospace
  
  input
    border none
    font-family 'Share Tech Mono', monospace
  
  select
    border none
    font-family 'Share Tech Mono', monospace