.wrapper
  display flex
  flex-direction column
  justify-content flex-start
  height 100vh
  width 100vw
  background-color black
  background radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%)
  color #daf6ff
  font-family 'Share Tech Mono', monospace
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0)

  button
    border none
    background-color black
    color #daf6ff
    font-family 'Share Tech Mono', monospace
  
  input
    border none
    background-color black
    color #daf6ff
    font-family 'Share Tech Mono', monospace
  
  select
    border none
    background-color black
    color #daf6ff
    font-family 'Share Tech Mono', monospace