.titlebar-wrapper
  display flex
  flex-direction row
  justify-content flex-end

.button-wrapper
  display flex
  flex-direction column
  padding 1em

.login-button
  padding 1em

.register-button
  padding 1em